<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="https://www.springboottutorial.com/" class="navbar-brand"
        ><span style="font-size: 20px; color: #4cccde">In</span
        ><span style="font-size: 30px; color: #d5492e">28</span
        ><span style="font-size: 20px; color: #36bf80">minutes</span></a
      >
    </div>
    <ul class="navbar-nav">
      <li>
        <a
          *ngIf="basicAuthenticationService.isUserLoggedIn()"
          routerLink="/welcome/sshb"
          class="nav-link"
          >Home</a
        >
      </li>
      <li>
        <a
          *ngIf="basicAuthenticationService.isUserLoggedIn()"
          routerLink="/todos"
          class="nav-link"
          >Todos</a
        >
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a
          *ngIf="!basicAuthenticationService.isUserLoggedIn()"
          routerLink="/login"
          class="nav-link"
          >Login</a
        >
      </li>
      <li>
        <a
          *ngIf="basicAuthenticationService.isUserLoggedIn()"
          routerLink="/logout"
          class="nav-link"
          >logout</a
        >
      </li>
    </ul>
  </nav>
</header>
