* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 13vh;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    background-color: teal;
    color: white;
    font-style: italic;
    letter-spacing: 15px;
    word-spacing: 100px;
    text-transform: capitalize;
}

.main {
    /* color: cadetblue; */
}

.main {
    display: flex;
}

.nav {
    width: 30vw;
    margin: 0 10px;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0.5rem 10px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aside__content {
    text-align: center;
    font-size: 2.5rem;
}
.aside__text {
    display: inline-block;
    text-transform: capitalize;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    letter-spacing: 4px;
    color: lightseagreen;
}

.div-btns {
    margin: 0.5rem 0;
}

/* --------------- */
/*   general css   */
/* --------------- */
button {
    outline: 0;
    /* background-color: rgba(43, 45, 66, 0.651); */
    background-color: beige;
    /* color: black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    min-height: 2.5rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
}
/* ------------------- */
/*   end general css   */
/* ------------------- */

.aside-addition {
    align-items: flex-start;
}

table {
    width: 70vw;
}

td,
th {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border: 1px red dashed;
    text-align: center;
}

th {
    font-size: 1.5rem;
    font-style: italic;
}

.btn-update,
.btn-delete,
.btn-cancel,
.btn-edit {
    /* most of buttons defenition is made in the general css */
    outline: 0;
    font-size: 0.95rem;
    width: 4rem;
    color: white;
}

.btn-edit {
    background-color: green;
}

.btn-delete {
    background-color: red;
}
.btn-update {
    background-color: blue;
}
.btn-cancel {
    background-color: orange;
}

.input-css {
    font-size: 1rem;
    text-align: center;
}

.hide {
    display: none;
}
