@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    /* grey */
    --color_black: #222;
    --color_white: #fff;
    --color_red-light: #f8d7da;
    --color_red-dark: #842029;
    --color_green-light: #d1e7dd;
    --color_green-dark: #0f5132;
    --color_yellow: rgb(218, 218, 24);
    --color_grey: rgb(148, 148, 153);
    --color_blue-nav: linear-gradient(rgba(47, 141, 47, 0.1), rgba(11, 142, 230, 0.9));
    --color_blue-seperator: linear-gradient(rgba(11, 142, 230, 0.9), rgba(11, 142, 230, 0.9));
    /* fonts  */
    --font_family_headingFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font_family_bodyFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font_family_aside: 'Assistant', sans-serif;
    --font_size_small-text: 1rem;
    --font_size_extra-small-text: 0.8em;
    --font_size_book-text: 1.35rem;
    /* rest of the vars */
    --borderRadius: 0.25rem;
    --letterSpacing: 0.95px;
    --transition: 0.3s ease-in-out all;
    --width: 85vw;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;

    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.75rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

html {
    /* height: 100vh; */
    scroll-behavior: smooth;
}

/****************
    Start alerts 
 ****************/
.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}
.alert-danger {
    color: var(--red-dark);
    background: var(--color_red-light);
}
.alert-success {
    color: var(--color_green-dark);
    background: var(--color_green-light);
}
/****************
    End alerts 
 ****************/
/***************************
    Start Container layout 
 ***************************/
.container {
    margin: 0 auto;
    min-height: 100vh;
    width: var(--width);
    display: grid;
    grid-template-columns: 1fr 2px auto;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        'header header header'
        'aside column-seperator main'
        'paging paging paging'
        'footer footer footer';
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
.vertical_column-seperator {
    grid-area: column-seperator;
}
.pagination-container {
    grid-area: paging;
}
footer {
    grid-area: footer;
}

/***************************
    End Container layout 
 ***************************/

header,
footer {
    width: var(--width);
}
/***************************
       Start header
***************************/
.header {
    font-family: var(--font_family_bodyFont);
    font-weight: 600;
    font-style: normal;
    letter-spacing: var(--letterSpacing);
    color: rgb(53, 53, 185);
    display: flex;
    flex-direction: column;
}

.header__date-banner {
    color: var(--color_black);
    font-size: var(--font_size_extra-small-text);
    font-family: var(--font_family_bodyFont);
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__date {
}
.header__banner {
    display: flex;
}
img {
    width: 40px;
    height: 40px;
}

.nav {
    background: linear-gradient(rgba(47, 141, 47, 0.1), rgba(11, 142, 230, 0.9));
    font-size: 2rem;
    /* font-size: calc(10vh + 1vh); */
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.nav-item {
    border-radius: 10px;
    padding: 0 0.5rem 0 0.5rem;
}

.nav-item:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 0.5rem 0 0.5rem;
}
.header__user {
    font-family: var(--font_family_bodyFont);
    font-size: var(--font_size_extra-small-text);
    font-style: normal;
    font-weight: bold;
    margin: 0.5rem 2rem 0.5rem 2rem;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* letter-spacing: var(--letterSpacing); */
}

.header__logged-user {
    color: var(--color_black);
    font-style: normal;
}

.header__btn-logout {
    font-family: var(--font_family_bodyFont);
    font-weight: 650;
    list-style-type: none;
    /* letter-spacing: var(--letterSpacing); */
    /* font-size: var(--font_size_extra-small-text); */
    font-size: 0.8rem;
    border: none;
    outline: none;
    color: var(--color_black);
    background-color: unset;
    cursor: pointer;
}

.header__btn-logout:hover {
    outline: blue solid 1px;
    border-radius: 10px;
    width: 4.5rem;
    color: rgb(37, 67, 240);
    font-style: oblique;
    cursor: pointer;
}

.header__fixed-position {
    top: 0;
    position: fixed;
    background: var(--color_white);
    /* width  must be same as in container*/
    width: var(--width);
}
/***************************
       End header
***************************/
/***************************
       Start aside
***************************/
aside {
    width: 15vw;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    /* for sticky element must add these three css features */
    /* with works with start.
    Don't know why it doesn't work with --> align-self: flex-start;  */
    /* align-self: flex-start; */
    align-self: start;
    position: sticky;
    top: 10rem;
    /* overflow-y: auto; */
}
/* .vertical_column-seperator {
    background: var(--color_blue-seperator);
    width: 3.5px;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
} */

.aside-ul-container {
    font-family: var(--font_family_bodyFont);
    font-size: var(--font_size_small-text);
    font-weight: 650;
    list-style-type: none;
    letter-spacing: var(--letterSpacing);
    text-align: right;
    width: 100%;
}
.aside-li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
    cursor: pointer;
}

.aside-li-description {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
}

.aside-li-input-data {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 0;
}

.aside-li-arrow .fa-angle-down,
.aside-li-arrow .fa-angle-up {
    font-size: 1.05rem;
    margin: auto 10px;
    padding: 0.5rem;
}

.end {
    cursor: none;
}

.aside-li-last-li {
    background: var(--color_blue-seperator);
    width: 100%;
    height: 3.5px;
}
/***************************
       End  aside
***************************/
/***************************
       Start main
***************************/
main {
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin-bottom: 4rem;
    /* grid-template-rows: repeat(5, 1fr); */
}

@media screen and (min-width: 780px) {
    .books-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .books-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1300px) {
    .books-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    font-family: var(--font_family_bodyFont);
    font-weight: 650;
    list-style-type: none;
    letter-spacing: var(--letterSpacing);
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    padding: 2rem 3rem;
    text-align: center;
}
.book img {
    width: 130px;
    height: 130px;
    border-radius: 15%;
    object-fit: cover;
    margin-bottom: 0.75rem;
}

.book h4 {
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    color: var(--clr-grey-5);
}

/***************************
       End  main
***************************/
/***************************
     Start paging
 ***************************/

.pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    direction: ltr;
    margin-bottom: 4rem;
    border: 1px solid rebeccapurple;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    direction: ltr;
    margin-bottom: 1.5rem;
}

.page-btn {
    width: 2rem;
    height: 2rem;
    background: var(--clr-primary-7);
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
    transition: var(--transition);
}
.active-btn {
    background: var(--clr-primary-1);
    color: var(--clr-white);
}

.fas {
    font-size: 1.05rem;
    margin: auto 10px;
    padding: 0.5rem;
}

.fas:hover {
    margin: auto 10px;
    color: var(--clr-grey-7);
    cursor: pointer;
}

/***************************
     End paging
 ***************************/
/***************************
    Start books-per-page 
 **************************/
.container-books-per-page {
    font-family: var(--font_family_bodyFont);
    font-size: var(--font_size_small-text);
    direction: rtl;
    position: relative;
    display: inline-block;
}

#books-per-page-selected {
    min-width: 120px;
    background: var(--clr-white);
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--clr-grey-7);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    display: flex;
}
#books-per-page-selected:hover,
#books-per-page-selected:focus {
    background: var(--clr-white);
    border-radius: var(--radius);
    border: 1px solid var(--clr-black);
    box-shadow: var(--light-shadow);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    overflow: auto;
    text-align: center;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* z-index: 1; */
}
.show {
    display: block;
}
/***************************
    End books-per-page
 **************************/
/***************************
    Start footer 
 **************************/
footer {
    /* margin-top: 2rem; */
    background: var(--color_grey);
    padding: 2rem 0 2rem 0;
    color: var(--color_white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    /* align-self: end;
    position: sticky;
    bottom: 0; */
}

/**************************
    End footer 
 **************************/

/* for Fixed header and Section Contetn (Click buttons) */

/****************************************
        section-content of the buttons
*****************************************/
/* 
.content-method-btn {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}

input {
    width: 10rem;
    height: 1.7rem;
    font-size: 0.9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0.8rem;
    text-align: right;
}

.btn {
    font-size: 1.1rem;
    color: white;
    width: 10rem;
    height: 2.1rem;
    border-radius: 10px;
    text-align: center;
}

.btn:hover {
    background-color: white;
    cursor: pointer;
}

.getBtn:hover {
    color: green;
}
.getBtn {
    background-color: green;
} */

/*****************************
    Pop up of Error message
******************************/
/* .article-error {
    width: 100%;
    margin: 10px 0 10px 0;
    height: 3rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
} */

/* .errorMessage {
    color: brown;
    width: 50%;
    background-color: #f1c6cc;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
