.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: blue;
}

.buttons {
    text-align: center;
}

#result {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

td {
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post {
    color: red;
    font-weight: bold;
    text-decoration-line: underline;
}

#sendData {
    color: red;
}

.put {
    color: blue;
    font-weight: bold;
    text-decoration-line: underline;
}

#updateData {
    color: blue;
}

.delete {
    color: green;
    font-weight: bold;
    text-decoration-line: underline;
}

#deleteData {
    color: green;
}

#dataFromServer {
    font-size: 1.2rem;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}